wsdl/tp2-internal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
  xmlns:d2ns="http://datex2.eu/schema/3/d2Payload"
  xmlns:dgt="http://datex2.eu/schema/3/dangerousGoodsTransport"  
  xmlns:impl="http://dgtina.org/tp2/wsdl/tp2-internal/1.0"
  xmlns:intf="http://dgtina.org/tp2/wsdl/tp2-internal/1.0"
  xmlns:tns2="http://dgtina.org/exchange-model/schema/exchange-model/1.0"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dgtina.org/tp2/wsdl/tp2-internal/1.0">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dgtina.org/tp2/wsdl/tp2-internal/1.0">
   <import namespace="http://datex2.eu/schema/3/d2Payload" schemaLocation="../../data-model/schema/DATEXII_3_D2Payload.xsd"/>
   <import namespace="http://datex2.eu/schema/3/dangerousGoodsTransport" schemaLocation="../../data-model/schema/DATEXII_3_DangerousGoodsTransport.xsd"/>
   <import namespace="http://dgtina.org/exchange-model/schema/exchange-model/1.0" schemaLocation="../../exchange-model/schema/exchange-model.xsd"/>

   <complexType name="SaveTP2OK">
     <sequence>
		<element name="save" type="xsd:boolean"/>
		<element name="idTP2" type="xsd:string"/>
		<element name="comment" type="xsd:string"/>
		<element name="login" type="xsd:string"/>
		<element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   <element name="saveTP2OK" type="impl:SaveTP2OK"/>
   
   <complexType name="SaveTP2OKResponse">
     <sequence>
      <element name="return" type="boolean"/>
     </sequence>
    </complexType>
   <element name="saveTP2OKResponse" type="impl:SaveTP2OKResponse"/>

   <complexType name="GetDGTDocument">
     <sequence>
     	<element name="idTransportUnit" type="xsd:string"/>
     	<element name="countryCode" type="xsd:string"/>
     	<element maxOccurs="1" minOccurs="1" name="requestReason" type="tns2:RequestReasonEnum"/>
     	<element minOccurs="1" maxOccurs="1" name="requestingParty" type="tns2:PublicService"/>
     </sequence>
   </complexType>
   <element name="getDGTDocument" type="impl:GetDGTDocument"/>

   <complexType name="GetDGTDocumentResponse">
     <sequence>
      <element name="dgPublication" type="dgt:DGPublication" />
     </sequence>
    </complexType>
   <element name="getDGTDocumentResponse" type="impl:GetDGTDocumentResponse"/>

      <complexType name="GetDGTDocumentMultimodal">
        <sequence>
          <element name="dgTransportUnit" type="dgt:DGTransportUnit"/>
          <element name="requestReason" type="tns2:RequestReasonEnum"/>
          <element name="requestingParty" type="tns2:PublicService" minOccurs="1" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <element name="getDGTDocumentMultimodal" type="impl:GetDGTDocumentMultimodal"/>

      <complexType name="GetDGTDocumentMultimodalResponse">
        <sequence>
	      <element name="dgPublication" type="dgt:DGPublication" />
        </sequence>
      </complexType>
      <element name="getDGTDocumentMultimodalResponse" type="impl:GetDGTDocumentMultimodalResponse"/>

   <complexType name="GetDynamicInformation">
     <sequence>
     	<element name="idTransportUnit" type="xsd:string" />
     	<element name="countryCode" type="string"></element>
     	<element name="requestReason" type="tns2:RequestReasonEnum" maxOccurs="1" minOccurs="1"></element>
     	<element name="requestingParty" type="tns2:PublicService" maxOccurs="1" minOccurs="1"></element>
     </sequence>
   </complexType>
   <element name="getDynamicInformation" type="impl:GetDynamicInformation"/>

   <complexType name="GetDynamicInformationResponse">
     <sequence>
       <element name="dgPublication" type="dgt:DGPublication" />
     </sequence>
   </complexType>
   <element name="getDynamicInformationResponse" type="impl:GetDynamicInformationResponse"/>

    <complexType name="GetTransportUnitByArea">
      <sequence>
      	<element name="x" type="xsd:float" />
      	<element name="y" type="xsd:float" />
      	<element name="radius" type="xsd:int" />
      	<element maxOccurs="1" minOccurs="1" name="requestReason"
      		type="tns2:RequestReasonEnum" />
      	<element name="requestingParty" type="tns2:PublicService" maxOccurs="1" minOccurs="1"></element>
      </sequence>
    </complexType>
    <element name="getTransportUnitByArea" type="impl:GetTransportUnitByArea"/>

    <complexType name="TransportUnitByAreaEntry">
      <all>
        <element name="idsTransportUnit" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        <element name="countryCode" type="string" maxOccurs="1" minOccurs="1"/>
      </all>
    </complexType>
    <complexType name='GetTransportUnitByAreaResponse'>
      <sequence>
        <element minOccurs='0' maxOccurs='unbounded' name='getTransportUnitByAreaResponseList' type='impl:TransportUnitByAreaEntry'/>
      </sequence>
    </complexType>
    <element name="getTransportUnitByAreaResponse" type="impl:GetTransportUnitByAreaResponse"/>
  </schema>
  </wsdl:types>

 <wsdl:message name="errorMessageFault">
    <wsdl:part element="tns2:ErrorMessageException" name="fault"/> 
 </wsdl:message>
  
   <wsdl:message name="saveTP2OKRequestMessage">
      <wsdl:part element="impl:saveTP2OK" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="saveTP2OKResponseMessage">
      <wsdl:part element="impl:saveTP2OKResponse" name="parameters"/>
   </wsdl:message>

  <wsdl:message name="getDGTDocumentRequestMessage">
    <wsdl:part element="impl:getDGTDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentResponseMessage">
    <wsdl:part element="impl:getDGTDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getDGTDocumentMultimodalRequestMessage">
    <wsdl:part element="impl:getDGTDocumentMultimodal" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentMultimodalResponseMessage">
    <wsdl:part element="impl:getDGTDocumentMultimodalResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getDynamicInformationRequest">
    <wsdl:part element="impl:getDynamicInformation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDynamicInformationResponseMessage">
    <wsdl:part element="impl:getDynamicInformationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getTransportUnitByAreaRequest">
    <wsdl:part element="impl:getTransportUnitByArea" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportUnitByAreaResponseMessage">
    <wsdl:part element="impl:getTransportUnitByAreaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
   
   <wsdl:portType name="TP2InternalServices">
      <wsdl:operation name="saveTP2OK">
         <wsdl:input message="impl:saveTP2OKRequestMessage"/>
         <wsdl:output message="impl:saveTP2OKResponseMessage"/>
		<wsdl:fault message="impl:errorMessageFault" name="errorMessage"/> 
    </wsdl:operation>
 
    <wsdl:operation name="getDGTDocument">
      <wsdl:input message="impl:getDGTDocumentRequestMessage"/>
      <wsdl:output message="impl:getDGTDocumentResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="getDGTDocumentMultimodal">
      <wsdl:input message="impl:getDGTDocumentMultimodalRequestMessage"/>
      <wsdl:output message="impl:getDGTDocumentMultimodalResponseMessage"/>
      <wsdl:fault message="impl:errorMessageFault" name="errorMessage"/>
    </wsdl:operation>

    <wsdl:operation name="getDynamicInformation">
      <wsdl:input message="impl:getDynamicInformationRequest"/>
      <wsdl:output message="impl:getDynamicInformationResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="getTransportUnitByArea">
      <wsdl:input message="impl:getTransportUnitByAreaRequest"/>
      <wsdl:output message="impl:getTransportUnitByAreaResponseMessage"/>
    </wsdl:operation>

   </wsdl:portType>
   
   <wsdl:binding name="TP2InternalServicesSoapBinding" type="impl:TP2InternalServices">

   	<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   	<wsdl:operation name="saveTP2OK">
   		<wsdlsoap:operation soapAction="saveTP2OK" style="document"/>
   		<wsdl:input>
   			<wsdlsoap:body use="literal"/>
   		</wsdl:input>
   		<wsdl:output>
   			<wsdlsoap:body use="literal"/>
   		</wsdl:output>
      <wsdl:fault name="errorMessage">
        <wsdlsoap:fault name="errorMessage" use="literal"/> 
      </wsdl:fault>
   	</wsdl:operation>
  
    <wsdl:operation name="getDGTDocument">
      <wsdlsoap:operation soapAction="getDGTDocument" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getDGTDocumentMultimodal">
      <wsdlsoap:operation soapAction="getDGTDocumentMultimodal" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorMessage">
        <wsdlsoap:fault name="errorMessage" use="literal"/> 
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getDynamicInformation">
      <wsdlsoap:operation soapAction="getDynamicInformation" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getTransportUnitByArea">
      <wsdlsoap:operation soapAction="getTransportUnitByArea" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

   </wsdl:binding>
   
   <wsdl:service name="TP2InternalServicesService">
      <wsdl:port binding="impl:TP2InternalServicesSoapBinding" name="TP2InternalServices">
         <wsdlsoap:address location="http://localhost/TP2Internal/1.0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
